<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChemieApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ChemieApp.Properties.Settings>
            <setting name="background" serializeAs="String">
                <value>bg.png</value>
            </setting>
            <setting name="head" serializeAs="String">
                <value>185, 209, 234</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Světlý</value>
            </setting>
            <setting name="hdtextcolor" serializeAs="String">
                <value>Tmavý</value>
            </setting>
        </ChemieApp.Properties.Settings>
    </userSettings>
</configuration>